@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/* 以下フォント指定… */
/* 日本語向けフォント */
body,
h1, h2, h3, h4, h5, h6,
.navbar,
.post-container,
.sidebar-container {
  font-family:
    "Noto Sans JP",
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
}
